<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Result</title>
</head>

<body style="background-color:#d6ffd4; margin-left:100px;">
  <h1 style="color:#b24747;">Result</h1>
  <label for="fname" style="color:#f59494">Plant Name:</label>
  <br>
  <p style="color: black"><%= plant.plant_name %></p>
  <label for="fname" style="color:#f59494">Plant Description:</label>
  <br>
  <p style="color: black"><%= plant.description %></p>
  <br><br>
  <label for="fname" style="color:#f59494">Disease Name:</label>
  <p style="color: black"><%= disease.disease_name %></p>
  <br>
  <label for="fname" style="color:#f59494">Plant Description:</label>
  <p style="color: black"><%= disease.description %></p>
  <br>
  <label for="fname" style="color:#f59494">Treatment:</label>
  <p style="color: black"><%= disease.treatment %></p>
  <br>
  <br><br>
</body>
</html>